*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100hv;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background:linear-gradient(to right, #0000,#f6f604);
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: white;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    height: 3px;
    width: 30px;
    background: #f6f604;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
}